[tool.poetry]
name = "django-rework"
version = "0.6.1"
description = ""
authors = ["Josh.Yu <josh.yu_8@live.com>"]
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.8"
Django = ">= 3.2, < 5.0"
django-cors-headers = ">= 3.13.0, < 4.0"
django-environ = ">= 0.9.0, < 1.0"
django-filter = ">= 22.1, < 23"
django-mysql = ">= 4.7"
django-ninja = ">= 1.3.0, < 2.0"
djangorestframework = ">= 3.15.2, < 4.0"
djangorestframework-simplejwt = "~= 5.3"
drf-spectacular = "^0.27.0"
fabric = ">= 2.7.1, < 3.0"
Markdown = "~= 3.4"
mysqlclient = "~= 2.1"
patchwork = "~= 1.0.1"
Pillow = "~= 9.0"
drf-nested-routers = "~= 0.93"
wechatpy = "~= 1.8"

[tool.poetry.group.dev.dependencies]
wheel = "^0.36"
twine = "^4.0"
pytest = "^7.4.4"

[tool.black]
target-version = ['py310', 'py311', 'py312']
include = '\.pyi?$'
# 'extend-exclude' excludes files or directories in addition to the defaults
extend-exclude = '''
# A regex preceded with ^/ will apply only to files and directories
# in the root of the project.
(
  ^/foo.py    # exclude a file named foo.py in the root of the project
  | .*_pb2.py  # exclude autogenerated Protocol Buffer files anywhere in the project
)
'''
