Django>=2.2,<=3.2
django-cors-headers==3.1.0
django-filter>=2.0,<3.0
django-mysql==3.2.0
djangorestframework>=3.10.1,<4.0
djangorestframework-simplejwt~=4.4.0
fabric~=2.5
Markdown~=3.1
mysqlclient>=1.4.6
patchwork==1.0.1
Pillow>=6.2.2,<=8.1.0
drf-nested-routers~=0.91
drf-yasg~=1.17
wechatpy~=1.8
