Django>=3.2,<6.0
django-cors-headers>=4.0,<5.0
django-environ>=0.10.0,<1.0
django-filter>=23.1,<26
django-mysql>4.9,<5
django-ninja>=1.3.0,<2.0
djangorestframework>=3.15.2,<4.0
djangorestframework-simplejwt~=5.3
drf-spectacular
fabric>=3.0.0,<3.1.0
Markdown~=3.4
mysqlclient~=2.1
Pillow~=9.0
drf-nested-routers~=0.93
wechatpy~=1.8
